$color_1: #252849;
$color_2: #6161ff;
$color_3: rgba(0, 0, 0, 0.6);
$color_4: #000;
$color_5: #fff;
$background-color_1: #fff;
$background-color_2: #252849;
$background-color_3: #6161ff;
$border-color_1: #6161ff;

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 100;
  height: 100px;
  .container {
    height: 100px;
  }
  .logo {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    display: flex;
    align-items: center;
  }
  .nav {
    .nav-main {
      display: block;
      position: relative;
      text-align: center;
      > li {
        display: inline-block;
        position: relative;
        > a {
          display: block;
          position: relative;
          color: $color_1;
          font-size: 14px;
          line-height: 22px;
          padding: 42px 12px;
          font-weight: 600;
          -webkit-transition: all 300ms ease 0ms;
          -moz-transition: all 300ms ease 0ms;
          -o-transition: all 300ms ease 0ms;
          transition: all 300ms ease 0ms;
          &:hover {
            color: $color_2;
            text-decoration: none;
            -webkit-transition: all 300ms ease 0ms;
            -moz-transition: all 300ms ease 0ms;
            -o-transition: all 300ms ease 0ms;
            transition: all 300ms ease 0ms;
          }
          &:focus {
            color: $color_2;
            text-decoration: none;
            -webkit-transition: all 300ms ease 0ms;
            -moz-transition: all 300ms ease 0ms;
            -o-transition: all 300ms ease 0ms;
            transition: all 300ms ease 0ms;
          }
          &.active {
            color: $color_2;
            text-decoration: none;
            -webkit-transition: all 300ms ease 0ms;
            -moz-transition: all 300ms ease 0ms;
            -o-transition: all 300ms ease 0ms;
            transition: all 300ms ease 0ms;
          }
        }
        .nav-main-childs {
          background-color: $background-color_1;
          z-index: 5;
          text-align: left;
          &:after {
            content: "";
            position: absolute;
            left: 20px;
            top: -10px;
            width: 0;
            height: 0;
            z-index: 0;
            border-left: 10px solid rgba(0, 0, 0, 0);
            border-right: 10px solid rgba(0, 0, 0, 0);
            border-bottom: 10px solid #fff;
          }
          > li {
            display: block;
            position: relative;
            > a {
              display: block;
              position: relative;
              padding: 10px 10px 10px 74px;
              -webkit-transition: all 300ms ease 0ms;
              -moz-transition: all 300ms ease 0ms;
              -o-transition: all 300ms ease 0ms;
              transition: all 300ms ease 0ms;
              img {
                position: absolute;
                left: 22px;
                top: 14px;
                width: 34px;
              }
              span {
                display: block;
                -webkit-transition: all 300ms ease 0ms;
                -moz-transition: all 300ms ease 0ms;
                -o-transition: all 300ms ease 0ms;
                transition: all 300ms ease 0ms;
                &:nth-child(1) {
                  color: $color_2;
                  font-size: 16px;
                  line-height: 22px;
                  font-weight: 700;
                }
                &:nth-child(2) {
                  color: $color_3;
                  font-size: 14px;
                  line-height: 20px;
                  font-weight: 500;
                }
              }
              &:hover {
                text-decoration: none;
                -webkit-transition: all 300ms ease 0ms;
                -moz-transition: all 300ms ease 0ms;
                -o-transition: all 300ms ease 0ms;
                transition: all 300ms ease 0ms;
                span {
                  &:nth-child(2) {
                    color: $color_4;
                    -webkit-transition: all 300ms ease 0ms;
                    -moz-transition: all 300ms ease 0ms;
                    -o-transition: all 300ms ease 0ms;
                    transition: all 300ms ease 0ms;
                  }
                }
              }
              &:focus {
                text-decoration: none;
                -webkit-transition: all 300ms ease 0ms;
                -moz-transition: all 300ms ease 0ms;
                -o-transition: all 300ms ease 0ms;
                transition: all 300ms ease 0ms;
                span {
                  &:nth-child(2) {
                    color: $color_4;
                    -webkit-transition: all 300ms ease 0ms;
                    -moz-transition: all 300ms ease 0ms;
                    -o-transition: all 300ms ease 0ms;
                    transition: all 300ms ease 0ms;
                  }
                }
              }
            }
          }
        }
        &:first-child {
          a {
            padding-left: 0px;
          }
        }
        &:last-child {
          a {
            padding-right: 0px;
          }
        }
        &:hover {
          -webkit-transition: all 300ms ease 0ms;
          -moz-transition: all 300ms ease 0ms;
          -o-transition: all 300ms ease 0ms;
          transition: all 300ms ease 0ms;
        }
        &:focus {
          -webkit-transition: all 300ms ease 0ms;
          -moz-transition: all 300ms ease 0ms;
          -o-transition: all 300ms ease 0ms;
          transition: all 300ms ease 0ms;
        }
        &:hover.has-childs {
          &:after {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: all 300ms ease 0ms;
            -moz-transition: all 300ms ease 0ms;
            -o-transition: all 300ms ease 0ms;
            transition: all 300ms ease 0ms;
          }
          &:before {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transition: all 300ms ease 0ms;
            -moz-transition: all 300ms ease 0ms;
            -o-transition: all 300ms ease 0ms;
            transition: all 300ms ease 0ms;
          }
        }
        &:focus.has-childs {
          &:after {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: all 300ms ease 0ms;
            -moz-transition: all 300ms ease 0ms;
            -o-transition: all 300ms ease 0ms;
            transition: all 300ms ease 0ms;
          }
          &:before {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transition: all 300ms ease 0ms;
            -moz-transition: all 300ms ease 0ms;
            -o-transition: all 300ms ease 0ms;
            transition: all 300ms ease 0ms;
          }
        }
      }
      > li.has-childs {
        .nav-desktop-view {
          display: none;
        }
        .nav-mobile-view {
          display: block;
        }
        &:after {
          content: "";
          position: absolute;
          top: 54px;
          background-color: $background-color_2;
          width: 6px;
          height: 2px;
          display: block;
          -webkit-transition: all 300ms ease 0ms;
          -moz-transition: all 300ms ease 0ms;
          -o-transition: all 300ms ease 0ms;
          transition: all 300ms ease 0ms;
          right: 3px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
        &:before {
          content: "";
          position: absolute;
          top: 54px;
          background-color: $background-color_2;
          width: 6px;
          height: 2px;
          display: block;
          -webkit-transition: all 300ms ease 0ms;
          -moz-transition: all 300ms ease 0ms;
          -o-transition: all 300ms ease 0ms;
          transition: all 300ms ease 0ms;
          right: 7px;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      > li.current {
        a {
          color: $color_2;
        }
      }
    }
    .nav-help {
      display: flex;
      align-items: center;
      & li.nav-logout {
        a {
          display: flex;
          gap: 6px;
          align-items: center;
          &:hover {
            svg {
              path {
                stroke: white;
              }
            }
          }
          img {
            width: 14px;
            height: 14px;
          }
        }
      }
      li {
        margin: 0px 2px;
        display: inline-block;
        position: relative;
        a {
          display: inline-block;
          position: relative;
          color: $color_1;
          font-size: 14px;
          line-height: 22px;
          font-weight: 600;
          padding: 6px 10px;
          border: 2px solid #252849;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          -o-border-radius: 6px;
          border-radius: 6px;
          -webkit-transition: all 300ms ease 0ms;
          -moz-transition: all 300ms ease 0ms;
          -o-transition: all 300ms ease 0ms;
          transition: all 300ms ease 0ms;
          &:hover {
            color: $color_5;
            background-color: $background-color_2;
            text-decoration: none;
            -webkit-transition: all 300ms ease 0ms;
            -moz-transition: all 300ms ease 0ms;
            -o-transition: all 300ms ease 0ms;
            transition: all 300ms ease 0ms;
          }
          &:focus {
            color: $color_5;
            background-color: $background-color_2;
            text-decoration: none;
            -webkit-transition: all 300ms ease 0ms;
            -moz-transition: all 300ms ease 0ms;
            -o-transition: all 300ms ease 0ms;
            transition: all 300ms ease 0ms;
          }
        }
      }
      li.active {
        a {
          color: $color_5;
          border-color: $border-color_1;
          background-color: $background-color_3;
        }
      }
    }
  }
  .nav-mobile {
    display: none;
  }
  + {
    section {
      margin-top: 100px;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  
  img {
    width: 175px;
    height: auto;
    max-height: 36px;
    object-fit: contain;
    display: block;
  }
}

@media screen and (min-width: 767px) {
  .header {
    .nav {
      .nav-main {
        > li.has-childs {
          .nav-desktop-view {
            display: block;
          }
          .nav-mobile-view {
            display: none;
          }
          a {
            padding-right: 16px;
          }
        }
        > li {
          margin-right: 4px;
          .nav-main-childs {
            // display: none;
            position: absolute;
            left: 0;
            top: 80px;
            width: 400px;
            padding: 15px 0px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -o-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
          }
          &:hover {
            .nav-main-childs {
              display: block;
            }
          }
          &:focus {
            .nav-main-childs {
              display: block;
            }
          }
          &:first-child {
            margin-right: 2px;
          }
          &:last-child {
            margin-right: 0px;
          }
        }
      }
      .nav-help {
        position: absolute;
        top: 36px;
        right: 10px;
        li.nav-help-m {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 1640px) {
  .header {
    .nav {
      .nav-main {
        > li {
          > a {
            padding: 42px 10px;
          }
        }
      }
      .nav-help {
        li {
          margin: 0px 4.4px;
        }
        & li:first-child {
          margin-right: 4px;
        }
        & li:last-child {
          margin-right: 2px;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .header {
    .nav {
      .nav-main {
        > li {
          > a {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .logo {
    width: 116px;
    height: auto;
    
    img {
      width: 116px;
      max-height: 18px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .header {
    .nav {
      .nav-main {
        text-align: right;
        > li.has-childs {
          &:after {
            top: 32px;
          }
          &:before {
            top: 32px;
          }
        }
        > li {
          > a {
            padding: 20px 8px;
          }
        }
      }
      .nav-help {
        top: 50px;
      }
    }
  }
}
@media screen and (min-width: 1201px) {
  .header {
    .nav {
      .nav-main {
        > li {
          margin-right: 0;
        }
        & li:first-child {
          margin-right: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .header {
    height: 70px;
    background-color: $background-color_1;
    position: fixed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    .container {
      height: 70px;
    }
    .nav {
      padding: 0;
      height: 0;
      transition: padding 0.1s ease-in-out, height 0.3s ease-in-out;
      top: 70px;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0px;
      z-index: 100;
      background-color: $background-color_1;
      overflow-x: hidden;
      overflow-y: auto;
      .nav-main {
        text-align: center;
        padding-bottom: 20px;
        > li {
          display: block;
          > a {
            font-size: 18px;
            line-height: 24px;
            padding: 12px 0px;
          }
          .nav-main-childs {
            border-bottom: 1px solid #d9d9d9;
            > li {
              > a {
                padding: 5px 5px 5px 44px;
                img {
                  top: 8px;
                  width: 28px;
                  left: 0px;
                }
                span {
                  &:nth-child(1) {
                    font-size: 14px;
                    line-height: 20px;
                  }
                }
              }
            }
          }
        }
        > li.has-childs {
          &:after {
            content: none;
          }
          &:before {
            content: none;
          }
        }
      }
      .nav-help {
        border-top: 1px solid #e9eaff;
        text-align: center;
        justify-content: center;
        gap: 12px;
        li {
          display: block;
          margin: 20px 0px;
          a {
            width: 50%;
          }
        }
        & li:first-child {
          margin-right: 0px;
        }
        & li:last-child {
          margin-right: 0px;
        }
        // li.nav-help-d {
        // 	display: none;
        // }
      }
    }
    .nav-active {
      height: auto;
      padding: 20px;
    }
    .nav-mobile {
      display: block;
      width: 74px;
      height: 70px;
      position: absolute;
      right: 0px;
      top: 0px;
      z-index: 10;
      cursor: pointer;
      -webkit-transition: all 300ms ease 0ms;
      -moz-transition: all 300ms ease 0ms;
      -o-transition: all 300ms ease 0ms;
      transition: all 300ms ease 0ms;
      span {
        position: absolute;
        height: 2px;
        display: block;
        right: 20px;
        width: 36px;
        background-color: $background-color_3;
        -webkit-transition: all 300ms ease 0ms;
        -moz-transition: all 300ms ease 0ms;
        -o-transition: all 300ms ease 0ms;
        transition: all 300ms ease 0ms;
        &:nth-child(1) {
          top: 24px;
        }
        &:nth-child(2) {
          top: 34px;
        }
        &:nth-child(3) {
          width: 18px;
          top: 44px;
        }
      }
    }
    .nav-mobile.nav-mobile-open {
      span {
        &:nth-child(1) {
          top: 34px;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-transition: all 300ms ease 0ms;
          -moz-transition: all 300ms ease 0ms;
          -o-transition: all 300ms ease 0ms;
          transition: all 300ms ease 0ms;
        }
        &:nth-child(2) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          -webkit-transition: all 300ms ease 0ms;
          -moz-transition: all 300ms ease 0ms;
          -o-transition: all 300ms ease 0ms;
          transition: all 300ms ease 0ms;
        }
        &:nth-child(3) {
          opacity: 0;
          -webkit-transition: all 300ms ease 0ms;
          -moz-transition: all 300ms ease 0ms;
          -o-transition: all 300ms ease 0ms;
          transition: all 300ms ease 0ms;
        }
      }
    }
    + {
      section {
        margin-top: 70px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .header {
    .nav {
      .nav-main {
        > li {
          > a {
            font-size: 16px;
            padding: 6px 0px;
          }
        }
      }
      .nav-help {
        li {
          a {
            width: 100%;
          }
        }
      }
    }
  }
}
